/*
 *= require_self
 */

@import "actiontext";

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

@import "bootstrap/scss/reboot";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/custom-forms";
@import "bootstrap/scss/input-group";
@import "bootstrap/scss/buttons";

$size-unit: $font-size-base * $line-height-base;
$main-size: $size-unit * 3;
$large-size: $size-unit * 4;

@mixin grid-column {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.custom-select {
  -webkit-appearance: none;
}

.btn {
  border-radius: 0;
}

html, body, #dashboard {
  height: 100%;
}

@mixin auth-form {
  display: flex;
  height: 100%;
  width: 576px;
  margin-left: auto;
  margin-right: auto;
  > div {
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    > p {
      text-align: center;
    }
    > p:nth-child(2) {
      margin-top: 1rem;
    }
    > form > button, > form > div > input, > form > div > label, > p > a {
      width: 50%;
    }
    > p > a {
      color: $light;
      background-color: $gray-800;
      border-color: $gray-800;
    }
    > form > button, > form > div > input, > form > div > label {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
}

#dashboard {
  @import "registrations";
  @import "sessions";
  @import "main_context";
  @import "main_window";
}
