#network_links {
  height: calc(100% - #{$main-size});
  overflow-y: auto;
  overflow-x: hidden;
  > div, > div > a {
    height: $main-size;
    width: 100%;
    border-radius: 0;
    border-bottom: 1px solid #ced4da;
  }
}
